body{
    background-color: #DDDDDD;
   
}

h1{

        color:#808080;
}

h5 {

    font-size: 24px;
}

.card{
        margin-top: 8%;
        margin-left: 3%;
    
}

.btn{

width: 25%;
line-height: 50px;
}

#aboutme{

   color: aquamarine;
}

.card-body{

        background-color:#C0D6E4;
}
.card-img{

padding: 5px;
margin-right: 59px;

}

.container{

    background-color:#C0D6E4 ;
 
    margin-top: 120px;
    width: 100%;;

}

.imageP{

    padding: 20px;


}

.container-small {

    width: 28%;
     height: 68% ;          
    margin-left: 32px;

}


     .img-thumbnail{
            float:left;
            margin: 0px 10px 0px 0px;
            padding: 0px;
            width: 200px;
            box-shadow: 8px 5px  #888888;
     }
     #indexP{
    
         font-size: 18px;
     }

     .labelcss{

        color:#808080
     }